<table class="table table-striped table-hover"  style="table-layout:fixed">
    <thead>
    <tr class='info'>
        <th  style='width:30%;vertical-align: middle;text-align: center;'>地址</th>
        <th class="hidden-xs" style='vertical-align: middle;text-align: center;'>最新交易时间</th>
        <th style='width:10%;vertical-align: middle;text-align: center;'>交易次数</th>
        <th class="hidden-xs" style='vertical-align: middle;text-align: center;'>地址生成时间</th>
        <th style='width:10%;vertical-align: middle;text-align: center;'>资产量</th>
        <th style='width:15%;vertical-align: middle;text-align: center;'>ANS量</th>
    </tr>
    </thead>
    <tbody>
    {% for ss in address %}
        <tr class="{{ loop.cycle('white', 'active') }}">
            <td class="col-md-3" style='overflow:hidden;white-space:nowrap;text-overflow:ellipsis;vertical-align: middle;text-align: center;'><a
                    href="/address/{{ ss['address'] }}">{{ ss['address'] }}</a></td>
            <td class="col-md-2 hidden-xs" style='vertical-align: middle;text-align: center;'>{{ ss['timestamp'] }}</td>
            <td class="col-md-1" style='vertical-align: middle;text-align: center;'>{{ ss['jiaoyi']|length }}</td>
            <td class="col-md-2 hidden-xs" style='vertical-align: middle;text-align: center;'>{{ ss['dzcssj'] }}</td>
            <td class="col-md-1" style='vertical-align: middle;text-align: center;'>{{ ss['yue']|length }} 类</td>
            <td class="col-md-2" style='vertical-align: middle;text-align: center;'>
                {% for s in ss['yue'] %}
                    {% if s['danwei']=='小蚁股' %}
                        {{ s['value'] }} 小蚁股
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>