{% extends 'base.html' %}
{% block scripts %}
    {{ super() }}

    <script src="https://static2.sosobtc.com/public/assets/plugin/sosobtc_plugin.js"></script>
    <script type="text/javascript">
        (function () {
            SOSOBTC('Market').init({
                id: 'sosobtc_market',
                btc: ['okcoin', 'coinbase', ],
                others: ['ans_yunbi', 'ans_yuanbaohui', 'ans_19800','ansbtc_bittrex','anc_19800'],
                row: ['price', 'buy', 'sell', 'high', 'low', 'vol'],
                show_tip: [true],
                td_height: ['30px']
            });
        })();
    </script>
{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-lg-12 btn-lg">
            <ul class="breadcrumb">
                <li><a href="/">首页</a> <span class="divider"></span></li>
                <li class="active">行情</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 clearfix">
            <div>
                <div class="pull-left">
                    <h3>行情在线</h3>
                </div>
                <div>
                    <hr align="center" width="100%" color="#FF0000" size="5"/>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div style="width: 100%;height: 250px" id="sosobtc_market"></div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 clearfix">
            <div>
                <div class="pull-left">
                    <h3>行情观察</h3>
                </div>
                <div>
                    <hr align="center" width="100%" color="#FF0000" size="5"/>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div>
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active">
                        <a href="#yunbi" data-toggle="tab">云币网行情</a>
                    </li>
                    <li><a href="#yuanbaohui" data-toggle="tab">元宝网行情</a></li>
                    <li><a href="#19800" data-toggle="tab">19800网行情</a></li>
                    <li><a href="#bittrex" data-toggle="tab">Bittrex网行情</a></li>
                    <li><a href="#19800bi" data-toggle="tab">19800小蚁币</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="yunbi">
                        <div style="width: 100%; height: 580px;" id="yunbi_container"></div>
                        <!-- SOSOBTC Widget Begin -->
                        <script type="text/javascript"
                                src="https://static2.sosobtc.com/sb.js"
                        ></script>
                        <script type="text/javascript">
                            new SOSOBTC.widget({
                                "symbol": "ANS:YUNBI",
                                "default_step": 3600,
                                "default_theme": "light",
                                "disable_theme_change": false,
                                "default_open_tools": false,
                                "hide_logo": true,
                                "container": "yunbi_container"
                            })
                        </script>
                        <!-- SOSOBTC Widget End -->
                    </div>
                    <div class="tab-pane fade" id="yuanbaohui">
                        <div style="width: 100%; height: 580px;" id="yuanbaohui_container"></div>
                        <!-- SOSOBTC Widget Begin -->
                        <script type="text/javascript"
                                src="https://static2.sosobtc.com/sb.js"
                        ></script>
                        <script type="text/javascript">
                            new SOSOBTC.widget({
                                "symbol": "ANS:YUANBAOHUI",
                                "default_step": 86400,
                                "default_theme": "light",
                                "disable_theme_change": false,
                                "default_open_tools": false,
                                "hide_logo": true,
                                "container": "yuanbaohui_container"
                            })
                        </script>
                        <!-- SOSOBTC Widget End -->

                    </div>
                    <div class="tab-pane fade" id="19800">

                        <div style="width: 100%; height: 580px;" id="19800_container"></div>
                        <!-- SOSOBTC Widget Begin -->
                        <script type="text/javascript"
                                src="https://static2.sosobtc.com/sb.js"
                        ></script>
                        <script type="text/javascript">
                            new SOSOBTC.widget({
                                "symbol": "ANS:19800",
                                "default_step": 3600,
                                "default_theme": "light",
                                "disable_theme_change": false,
                                "default_open_tools": false,
                                "hide_logo": true,
                                "container": "19800_container"
                            })
                        </script>
                        <!-- SOSOBTC Widget End -->
                    </div>
                    <div class="tab-pane fade" id="bittrex">

                        <div style="width: 100%; height: 580px;" id="bittrex_container"></div>
                        <!-- SOSOBTC Widget Begin -->
                        <script type="text/javascript"
                                src="https://static2.sosobtc.com/sb.js"
                        ></script>
                        <script type="text/javascript">
                            new SOSOBTC.widget({
                                "symbol": "ANSBTC:bittrex",
                                "default_step": 3600,
                                "default_theme": "light",
                                "disable_theme_change": false,
                                "default_open_tools": false,
                                "hide_logo": true,
                                "container": "bittrex_container"
                            })
                        </script>
                        <!-- SOSOBTC Widget End -->
                    </div>
                    <div class="tab-pane fade" id="19800bi">

                        <div style="width: 100%; height: 580px;" id="19800bi_container"></div>
                        <!-- SOSOBTC Widget Begin -->
                        <script type="text/javascript"
                                src="https://static2.sosobtc.com/sb.js"
                        ></script>
                        <script type="text/javascript">
                            new SOSOBTC.widget({
                                "symbol": "ANC:19800",
                                "default_step": 3600,
                                "default_theme": "light",
                                "disable_theme_change": false,
                                "default_open_tools": false,
                                "hide_logo": true,
                                "container": "19800bi_container"
                            })
                        </script>
                        <!-- SOSOBTC Widget End -->
                    </div>

                </div>
                <script>
                    $(function () {
                        $('#myTab li:eq(1) a').tab('show');
                    });
                </script>
            </div>

        </div>
    </div>





{% endblock %}