<div class="bd-home-company-desc">
            <div class="section-title">百度公司介绍</div>
            <div class="section-content company-section-content">
              <div class="row">
                <div class="col-sm-3">
                  <div class="card bd-desc-item">
                    <div class="img-outer">
                      <div class="img-inner">
                        <img data-original="/Public/img/bd_desc_bg01.jpg" alt="" class="lazy" src="/Public/img/bd_desc_bg01.jpg" style="display: inline;">
                        <div class="card-cover">
                          我们的核心价值观
                          <span class="bd-desc-titleline"></span>
                          <p class="bd-desc-content">
                            简单可依赖
                          </p>
                          <a href="/home/index/company_culture" class="bd-desc-btn" target="_blank">了解更多</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card bd-desc-item">
                    <div class="img-outer">
                      <div class="img-inner">
                        <img data-original="/Public/img/bd_desc_bg02.jpg" alt="" class="lazy" src="/Public/img/bd_desc_bg02.jpg" style="display: inline;">
                        <div class="card-cover">
                          我们的公司
                          <span class="bd-desc-titleline"></span>
                          <p class="bd-desc-content">
                            百度是一家持续创新的，以“用科技让复杂的世界更简单”为使命的高科技公司。
                          </p>
                          <a href="/home/index/company" class="bd-desc-btn" target="_blank">了解更多</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card bd-desc-item">
                    <div class="img-outer">
                      <div class="img-inner">
                        <img data-original="/Public/img/bd_desc_bg03.jpg" alt="" class="lazy" src="/Public/img/bd_desc_bg03.jpg" style="display: inline;">
                        <div class="card-cover">
                          百度之路
                          <span class="bd-desc-titleline"></span>
                          <p class="bd-desc-content">
                            百度大事记
                          </p>
                          <a href="/home/index/baidu_road" class="bd-desc-btn" target="_blank">了解更多</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card bd-desc-item">
                    <div class="img-outer">
                      <div class="img-inner">
                        <img data-original="/Public/img/bd_desc_bg04.jpg" alt="" class="lazy" src="/Public/img/bd_desc_bg04.jpg" style="display: inline;">
                        <div class="card-cover">
                          我们的管理团队
                          <span class="bd-desc-titleline"></span>
                          <p class="bd-desc-content"></p>
                          <a href="/home/index/management_team" class="bd-desc-btn" target="_blank">了解更多</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>