<table class="table table-striped table-hover">
    <thead>
    <tr class='info'>
{#        <th style='vertical-align: middle;text-align: center;'>类型</th>#}
        {#        <th style='vertical-align: middle;text-align: center;'>交易散列值</th>#}
        <th style="vertical-align: middle;text-align: center;">名称</th>
        <th style="vertical-align: middle;text-align: center;">类型</th>
        <th class="hidden-xs" style='vertical-align: middle;text-align: center;'>区块高度</th>
        <th style='vertical-align: middle;text-align: center;'>最大供给量</th>
        <th style='vertical-align: middle;text-align: center;'>当前发行量</th>
        <th class="hidden-xs" style='vertical-align: middle;text-align: center;'>注册时间</th>
    </tr>
    </thead>
    <tbody>
    {% for ss in asset %}
        <tr class="{{ loop.cycle('white', 'active') }}">
{#            <td class="col-md-1" style='vertical-align: middle;text-align: center;'>#}
{#                <button style="" type="button"#}
{#                        class="btn-sm {% if ss['neirong']['type']=="ContractTransaction" %}btn-info{% elif ss['neirong']['type']=="ClaimTransaction" %}btn-success{% elif ss['neirong']['type']=="RegisterTransaction" %}btn-warning{% elif ss['neirong']['type']=="IssueTransaction" %}btn-danger{% else %}btn-default{% endif %} btn-block"#}
{#                        data-toggle="tooltip" title="{{ ss['neirong']['name'] }}">{{ ss['neirong']['name'] }}</button>#}
{#            </td>#}
            {#            <td class="col-md-3" style='vertical-align: middle;text-align: center;'>{{ ss['txid'] }}</td>#}
            <td class="col-md-2" style='vertical-align: middle;text-align: center;'><a
                    href="/asset/hash/{{ ss['neirong']['txid'] }}">{{ ss['neirong']['asset']['name'][0]['name'] }}</a></td>
            <td class="col-md-1"
                style='vertical-align: middle;text-align: center;'>{{ ss['neirong']['asset']['type'] }}</td>
            <td class="col-md-1 hidden-xs"
                style='vertical-align: middle;text-align: center;'><a href="/block/height/{{ ss['neirong']['block_height'] }}">{{ ss['neirong']['block_height'] }}</a></td>
            <td class="col-md-2" style='vertical-align: middle;text-align: center;'>
                {% if ss['neirong']['asset']['amount']=='-0.00000001' %}无上限
                    {% else %}{{ ss['neirong']['asset']['amount'] }}
                    {{ ss['neirong']['asset']['name'][0]['name'] }}{% endif %}</td>
            <td class="col-md-2"
                style='vertical-align: middle;text-align: center;'>{{ ss['fxl'] }} {{ ss['neirong']['asset']['name'][0]['name'] }}</td>
            <td class="col-md-2 hidden-xs"
                style='vertical-align: middle;text-align: center;'>{{ moment(ss['neirong']['timestamp']).format('LLL') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>