{% extends 'base.html' %}

{% block page_content %}

    <div class="row">
        <div class="col-lg-12 btn-lg">
            <ul class="breadcrumb">
                <li><a href="/">首页</a> <span class="divider"></span></li>
                <li><a href="/transaction">交易</a><span class="divider"></span></li>
                <li class="active" style="word-break: break-all;">{{ tx['txid'] }}</li>
            </ul>
        </div>
    </div>

    <div class="row">
{#        <div class="col-lg-3"></div>#}
{#        <div class="col-lg-6 clearfix">#}
{#            <ul class="pager">#}
{#                <li class="previous">{% if block['height']!=0 %}#}
{#                    <a href="/tx/hash/{{ block['height'] -1 }}">上一个区块</a>{% endif %}</li>#}
{#                <li class="next">{% if block['nextblockhash']!='' %}#}
{#                    <a href="/tx/hash/{{ block['height']+1}}">下一个区块</a>{% endif %}</li>#}
{#            </ul>#}
{##}
{#        </div>#}
{#        <div class="col-lg-3"></div>#}
        {% include "tx_hash_s.html" %}
    </div>


{% endblock %}