<div class="row">
    <div class="col-lg-12">
        <div class="col-md-5 btn btn-info xtdt" style="" data-toggle="tooptip" title="小蚁系统主网上线后的运行时间">
            系统运行时间：{{ xtyxsj }}天
        </div>
        <div class="col-md-2 hidden-xs hidden-sm"></div>
        <div class="col-md-5 btn btn-info xtdt" style="" data-toggle="tooptip" title="前100个区块的平均生成时间">区块产出时间：{{ pjqksj }} 秒
        </div>
    </div>
    <div class="col-lg-12">
        <div class="col-md-5 btn btn-zdy xtdt" style="vertical-align: middle;text-align: center;" data-toggle="tooptip"
             title="小蚁系统产生的区块数量（总是比最大区块高度大1）">系统区块数量：{{ block_shu }} 块
        </div>
        <div class="col-md-2 hidden-xs hidden-sm"></div>
        <div class="col-md-5 btn btn-zdy xtdt" style="vertical-align: middle;text-align: center;" data-toggle="tooptip"
             title="去除只有挖矿交易的区块数量">有效区块数量：{{ block_ne }}
            笔
        </div>
    </div>
    <div class="col-lg-12">
        <div class="col-md-5 btn btn-success xtdt" style="vertical-align: middle;text-align: center;" data-toggle="tooptip"
             title="小蚁区块链上的所有交易数量">系统交易数量：{{ tx_shu }}
            笔
        </div>
        <div class="col-md-2 hidden-xs hidden-sm"></div>
        <div class="col-md-5 btn btn-success xtdt" style="vertical-align: middle;text-align: center;" data-toggle="tooptip"
             title="去除挖矿交易的人为交易数量">真实交易数量：{{ tx_ne }}
            笔
        </div>
    </div>

    <div class="col-lg-12">
        <div class="col-md-5 btn btn-danger xtdt" style="" data-toggle="tooptip" title="小蚁系统上注册的各类资产数量">
            系统资产数量：{{ asset_shu }} 个
        </div>
        <div class="col-md-2 hidden-xs hidden-sm"></div>
        <div class="col-md-5 btn btn-danger xtdt" style="" data-toggle="tooptip" title="小蚁系统区块链上出现的地址数量">
            系统地址数量：{{ address_shu }}
            个
        </div>

    </div>

    <div class="col-lg-12">
        <div class="col-md-5 btn btn-warning xtdt" style="" data-toggle="tooptip" title="小蚁股的总发行数量">小蚁股发行量：1亿 个
        </div>
        <div class="col-md-2 hidden-xs hidden-sm"></div>
        <div class="col-md-5 btn btn-warning xtdt" style="" data-toggle="tooptip" title="小蚁股持有人数量">小蚁股持有人：{{ ans }} 人
        </div>
    </div>
    <div class="col-lg-12">
        <div class="col-md-5 btn btn-info xtdt" style="" data-toggle="tooptip" title="小蚁币的总发行量">
            小蚁币发行量：{{ anc_faxing }} 个
        </div>
        <div class="col-md-2 hidden-xs hidden-sm"></div>
        <div class="col-md-5 btn btn-info xtdt" style="" data-toggle="tooptip" title="小蚁币持有人数量">小蚁币持有人：{{ anc }} 人
        </div>
    </div>
    <div class="col-lg-12">
        <div class="col-md-5 btn btn-zdy xtdt" style="" data-toggle="tooptip" title="">
            地址日增长数：{{ addrress_daily_growth }}个
        </div>
        <div class="col-md-2 hidden-xs hidden-sm"></div>
        <div class="col-md-5 btn btn-zdy xtdt" style="" data-t{{ pjqksj }}oggle="tooptip" title="">
            交易日增长数：{{ tx_no_mt_daily_growth }}笔
        </div>
    </div>
        <div class="col-lg-12">
        <div class="col-md-5 btn btn-success xtdt" style="vertical-align: middle;text-align: center;" data-toggle="tooptip"
             title="小蚁区块链上的所有交易数量">ANS全球平均价格：{{ ans_gai }}元
        </div>
        <div class="col-md-2 hidden-xs hidden-sm"></div>
        <div class="col-md-5 btn btn-success xtdt" style="vertical-align: middle;text-align: center;" data-toggle="tooptip"
             title="去除挖矿交易的人为交易数量">ANS总市值：{{ ans_worth }}元
        </div>
    </div>
</div>